<div class="container">
<h1>New Article</h1>
  <table class="table table-hover">
    <thead>
    <tr class="table-active">
      <th><%= render 'form', article: @article %></th>
      <th><%= link_to 'Back', articles_path %></th>
    </tr>
    </thead>
  </table>
</div>