<div class="container">
<h1>Editing Dictionary</h1>

<%= render 'form', dictionary: @dictionary %>

<%= link_to 'Show', @dictionary, class: 'btn btn-primary btn-sm'  %> |
<%= link_to 'Back', dictionaries_path, class: 'btn btn-secondary btn-sm' %>
</div>
